<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                     
    <tr class="vacancy"> 
     <td class="title"><a href="http://kemerovo.hh.ru/vacancy/14853020?query=java%20Moscow">Программист Java</a></td> 
     <td class="city">Москва, Семеновская</td> 
     <td class="companyName">«Информзащита», Группа Компаний</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://kemerovo.hh.ru/vacancy/14721759?query=java%20Moscow">Java developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ManpowerGroup</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://kemerovo.hh.ru/vacancy/14891313?query=java%20Moscow">Java-разработчик</a></td> 
     <td class="city">Москва, Рязанский проспект</td> 
     <td class="companyName">Группа компаний «ИНФОРСЕР»</td> 
     <td class="salary">от 50&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://kemerovo.hh.ru/vacancy/14617301?query=java%20Moscow">Программист Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ManpowerGroup</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://kemerovo.hh.ru/vacancy/15056206?query=java%20Moscow">Java-программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">«Информзащита», Группа Компаний</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://kemerovo.hh.ru/vacancy/14876747?query=java%20Moscow">Java developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО Кама - Гэймз</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://kemerovo.hh.ru/vacancy/14310482?query=java%20Moscow">Java разработчик</a></td> 
     <td class="city">Москва, Новокузнецкая</td> 
     <td class="companyName">ООО Кама - Гэймз</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://kemerovo.hh.ru/vacancy/15019339?query=java%20Moscow">Java - разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПЕТЕР-СЕРВИС</td> 
     <td class="salary">от 140&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://kemerovo.hh.ru/vacancy/15054720?query=java%20Moscow">Программист Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ЗАО НИИСАУ</td> 
     <td class="salary">от 90&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://kemerovo.hh.ru/vacancy/14929440?query=java%20Moscow">Java - разработчик</a></td> 
     <td class="city">Москва, ВДНХ и еще 2</td> 
     <td class="companyName">ПАО ООО «Ростелеком-Интеграция»</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://kemerovo.hh.ru/vacancy/14798215?query=java%20Moscow">Java - разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО MAYKOR</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://kemerovo.hh.ru/vacancy/14197923?query=java%20Moscow">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">HAYS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://kemerovo.hh.ru/vacancy/13209549?query=java%20Moscow">Программист Java / Java developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Программный Продукт, ИТ-компания</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://kemerovo.hh.ru/vacancy/15022131?query=java%20Moscow">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">AT Consulting</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://kemerovo.hh.ru/vacancy/14952679?query=java%20Moscow">Архитектор Java</a></td> 
     <td class="city">Москва, Тимирязевская</td> 
     <td class="companyName">USETECH</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://kemerovo.hh.ru/vacancy/14323104?query=java%20Moscow">Программист Java</a></td> 
     <td class="city">Москва, Крылатское</td> 
     <td class="companyName">Цезарь Сателлит, Москва</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>